
.navbar-brand{
    font-size: 1.5rem;
}
.nav-link{
    font-size: 1.1rem;
}
.nav-link{
    margin: 0px 10px;
}

.mode-icon{
    font-size: 1.8rem;
    line-height: 150px;
    border: 1px solid #dbd8d8;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.navbar li:last-child{
    line-height: 40px;
}