#contact{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.link{
    margin-bottom: 5px;
}
.link a{
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 10px;
}